@use 'general';

.modal-content {
    background-color: rgb(38, 38, 48);
}

.modal-dialog {
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) !important;
}

.green-btn {
    background-color: rgb(67, 145, 48);
    color: white;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);

    &:hover {
        background-color: rgb(63, 221, 49);
        color: black;
        transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}